.custom-footer {
    position: fixed;
    justify-content: center;
    align-self: center;
    bottom: 0;
    flex-direction: column;
}

#app-container {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 50px;
    width: 100%;
    padding: 2rem;
    overflow: auto;
}

.custom-home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-login-input{
    padding:5px 15px 5px 15px;
    border:4px solid #4ea0d8;
    border-radius: 10px;
    width:500px;
    height:35px;
    font-size:15px
}
.custom-login-btn{
    background-color:"#FFFFFF"
}

.custom-table-div {
    height: 0%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: "#FFFFF0";
}

a {
    color: #00897B;
}

.colorify {
    color: #00897B;
}

a:hover {
    color: #00796B;
}

.on-fly-input,.on-fly-input:hover,.on-fly-input:focus {
    border: transparent;
    background-color: transparent;
    outline: transparent;
}

table {
    text-align: left;
}

.v-icon.v-icon.v-icon--link, .v-icon:hover, .v-icon:focus {
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.v-icon-highlighted {
    color: #00897B !important;
}

.theme--light.v-data-table tbody tr.v-data-table__selected {
    color: #9e9e9e !important;
    background-color: #e9eeef38 !important;
}

.theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: #e9eeef38 !important;
    background-color: #e9eeef38 !important;
}

.theme--light.v-data-table tbody tr.no-highlight:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: transparent !important;
    background-color: transparent !important;
}

.custom-btn {
    color: #fff;
    background-color: #00796B;
    border-color: #00796B;
}

.custom-btn:hover {
    color: #fff;
    background-color: #00897B;
    border-color: #00897B;
}

.custom-btn:not(:disabled):not(.disabled):active, .custom-btn:not(:disabled):not(.disabled).active, .show > .custom-btn.dropdown-toggle {
    color: #fff;
    background-color: #00897B;
    border-color: #00897B;
}

.custom-btn:focus {
    color: #fff;
    background-color: #00897B;
    border-color: #00897B;
    box-shadow: 0 0 0 0.1rem #019e8e;
}

.v-data-table th {
    font-size: medium !important;
}

.v-data-table input {
    font-size: medium !important;
}

div.stat-div {
    float: left;
}

div.spell-div{
    float: right;
}

table.champion-info {
    border-collapse: collapse;
    width: 90%;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;
    white-space: pre;
}
table.champion-info thead {
    border: 1px solid #ccc;
}
table.champion-info thead th{
    border: 1px solid #ccc;
}
table.champion-info thead td {
    border: 1px solid #ccc;
}
table.champion-info tbody {
    border: 1px solid #ccc;
}
table.champion-info tbody th {
    border: 1px solid #ccc;
}
table.champion-info tbody td {
    border: 1px solid #ccc;
}
table.stat-table {

    border-collapse: collapse;
    width: 90%;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;
    white-space: pre;

}

table.stat-table thead {
    width: 100%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #e7708d;
}
table.stat-table thead th {
    width: 55%;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
}
table.stat-table thead td {
    width: 100%;
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;

}

table.stat-table tbody {
    width: 100%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #3fAFFd;
}
table.stat-table tbody th {
    width: 55%;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #fcf1f4;
}
table.stat-table tbody td {
    width: 45%;
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border: 1px solid #ccc;
}



table.spell-table {
    
    position: relative;
    white-space: pre;
    border-collapse: collapse;
    width: 90%;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;
    
}

table.spell-table thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
        background: #e7708d;
}
table.spell-table thead th {
    padding: 5px;
    width: 40%;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
}
table.spell-table tbody th {
    padding: 5px;
    width: 40%;
    font-weight: bold;
    vertical-align: top;
    color: #000;
    background: #fcf1f4;
}
table.spell-table tbody tr {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #3fAFFd;
}
table.spell-table tbody td {
    word-break: break-all;
    width: 10%;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ccc;
}